GREENNODE_CLIENT_ID=0392c9ee-0ff1-483c-aff4-87d7da4933ee
GREENNODE_CLIENT_SECRET=95a95b71-5ad4-4c3e-ba7e-f1560efa3718
# Optional: only needed if using agent identity features
GREENNODE_AGENT_IDENTITY=interview-agent
